.container {
    margin-top: 5%;
    
}

h1 {
    color: #343a40;
}

img {
    float: left;
    /* padding-right: 2%;
    padding-top: 2%; */
    padding: 10%;
}

a {
    color:white;
}

.containerphoto {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    display: inline-block;
    height: fit-content;
    
  }
  .containerphoto .content {
    position: absolute;
    bottom: 0;
    background: rgba(19, 20, 24, 0.6); 
    color: #f1f1f1; 
    padding-left: 0%;
    width: 320px;
    text-align: center;
    margin-left: 10%;
  }